/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;600&display=swap');

:root {
    --coffee: #6b3f2d;
    --light: #FFFDF8;
    --dark: #2b1d16;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #FFFDF8;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 18px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background:#FFFDF8;
    backdrop-filter: blur(3px);

    position: fixed;
    top: 0;
    z-index: 10;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* LOGO CIRCLE */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    background: #2b1d16;
    border: 2px solid #6b3f2d;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.logo-circle img {
    width: 90%;
    height: auto;
}

.brand {
    font-size: 20px;
    line-height: 22px;
    color: #4a2b1f;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.brand-main {
    font-family: "Patrick Hand", cursive;
    font-size: 26px;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    gap: 50px;
    font-size: 30px;
}

.nav-links a {
    font-size: 22px;
    color: var(--coffee);
    font-family: "Patrick Hand", cursive;
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    color: #9b6a52;
}

/* SIGN IN BUTTON */
.signin-btn {
    padding: 12px 26px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    color: #FFFDF8;
    background: var(--coffee);
    cursor: pointer;
    transition: .3s;
}

.signin-btn:hover {
    background: #9b6a52;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 100vh;
    background: url("assets/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-top: 100px;
    position: relative;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 520px;
    animation: fadeIn 1.2s ease-out forwards;
    opacity: 0;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFDF8;
    line-height: 1.1;
    margin-bottom: 20px;
    font-family: ;
}

.hero p {
    font-size: 16px;
    color: #FFFDF8;
    margin-bottom: 30px;
    max-width: 500px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.coffee-btn,
.hero-signin {
    padding: 13px 32px;
    border-radius: 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.coffee-btn {
    background: #FFFDF8;
    color: var(--coffee);
    font-weight: 600;
}

.coffee-btn:hover {
    background: #FFFDF8;
}

.hero-signin {
    background: var(--coffee);
    color: #FFFDF8;
}

.hero-signin:hover {
    background: #8a543a;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 820px) {
    .hero {
        padding: 40px;
        justify-content: center;
    }
    .hero h1 {
        font-size: 45px;
    }
}
